In [1]:
my_list=[0,1,34,5] #list

In [2]:
my_list[0]

0

In [3]:
my_list[-1]

5

In [4]:
my_list[0]=100 #mutable

In [5]:
my_list

[100, 1, 34, 5]

In [6]:
my_list[3]='hello'

In [7]:
my_list

[100, 1, 34, 'hello']

In [8]:
my_list[2]=[1,2,3] #嵌套

In [9]:
my_list

[100, 1, [1, 2, 3], 'hello']

In [11]:
my_list[2][2]

3

In [13]:
my_list[2][2]=10

In [14]:
my_list

[100, 1, [1, 2, 10], 'hello']

In [15]:
my_list[1:3]

[1, [1, 2, 10]]

In [17]:
my_list[2:]

[[1, 2, 10], 'hello']

In [23]:
my_list[0:3:1]

[100, 1, [1, 2, 10]]

In [22]:
my_list[4:0:-1]

['hello', [1, 2, 10], 1]

In [24]:
[1,2,3]+[4,5]

[1, 2, 3, 4, 5]

In [25]:
[1]*5

[1, 1, 1, 1, 1]

In [26]:
my_list=list()

In [27]:
my_list

[]

In [28]:
my_list=[]

In [29]:
my_list.append(1)

In [30]:
my_list

[1]

In [33]:
my_list=list()
x=1
while x < 10:
    my_list.append(x)
    x=x+1
    
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [34]:
my_list=list(range(1,10))

In [35]:
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [37]:
'hello'[0]

'h'

In [2]:
my_list=list('hello')
my_list

['h', 'e', 'l', 'l', 'o']

In [3]:
ch=input('please intpuy a char')
if ch in 'neiou':
    print('It is a vowel')
else
    print('It is not a vowel')

SyntaxError: invalid syntax (<ipython-input-3-d8ee5378a2b7>, line 4)

In [22]:
for i in range(1,10):
    print(f'{i}^3 = {i ** 3}')

1^3 = 1
2^3 = 8
3^3 = 27
4^3 = 64
5^3 = 125
6^3 = 216
7^3 = 343
8^3 = 512
9^3 = 729

In [9]:
for i in range(1,10):
    print((9-i) * ' ',(2 * i -1) * '*')

         *
        ***
       *****
      *******
     *********
    ***********
   *************
  ***************
 *****************

In [14]:
for i in range(1,10):
    for j in range(1,10):
        if i <=j:
            print(f'{i}*{j}={i*j}',end='\t')
        else:
            print('',end='\t')
    print('')

1*1=1	1*2=2	1*3=3	1*4=4	1*5=5	1*6=6	1*7=7	1*8=8	1*9=9
	2*2=4	2*3=6	2*4=8	2*5=10	2*6=12	2*7=14	2*8=16	2*9=18
		3*3=9	3*4=12	3*5=15	3*6=18	3*7=21	3*8=24	3*9=27
			4*4=16	4*5=20	4*6=24	4*7=28	4*8=32	4*9=36
				5*5=25	5*6=30	5*7=35	5*8=40	5*9=45
					6*6=36	6*7=42	6*8=48	6*9=54
						7*7=49	7*8=56	7*9=63
							8*8=64	8*9=72
								9*9=81

In [15]:
a=[1,2,3]
b=a.copy()
a.append(5)
print(a)
print(b)

[1, 2, 3, 5]
[1, 2, 3]

In [16]:
a=[1,2,3]
a.append([1,2,3])
b=a.copy()
a.append(100)
print(a)
print(b)

[1, 2, 3, [1, 2, 3], 100]
[1, 2, 3, [1, 2, 3]]

In [17]:
a[3][0]=100   #!!!!!

In [18]:
print(a)

[1, 2, 3, [100, 2, 3], 100]

In [19]:
print(b)

[1, 2, 3, [100, 2, 3]]

In [20]:
from copy import deepcopy
a=[1,2,3]
a.append([1,2,3])
b=deepcopy(a)
a.append(100)
a[3][0]=100
print(a)
print(b)

[1, 2, 3, [100, 2, 3], 100]
[1, 2, 3, [1, 2, 3]]

In [23]:
my_list = list(range(1,10))

In [24]:
len(my_list)

9

In [25]:
len('hello')

5

In [26]:
my_list = [1,2,3,4,4,3,3]

In [28]:
my_list.count(4)

2

In [29]:
my_list.index(3)

2

In [30]:
my_list.index(3,4)

5

In [31]:
my_list.index(5)

ValueError: 5 is not in list

In [32]:
if 5 in my_list:
    print(my_list.index(5))

In [33]:
my_list.insert(2,99)

In [34]:
my_list

[1, 2, 99, 3, 4, 4, 3, 3]

In [35]:
my_list.remove(99)

In [36]:
my_list

[1, 2, 3, 4, 4, 3, 3]

In [37]:
my_list.remove(3)

In [38]:
my_list

[1, 2, 4, 4, 3, 3]

In [39]:
a=[1,2,3]

In [40]:
a.append(4)

In [41]:
a

[1, 2, 3, 4]

In [42]:
a.pop()

4

In [43]:
a

[1, 2, 3]

In [44]:
a.pop()
a

[1, 2]

In [2]:
expression  = input('Please input an expression: ')
my_stack = list()

left_quotes = list('{[(')
right_quotes = list('}])')

not_match = False
for ch in expression:
    if ch in left_quotes:
        my_stack.append(ch)
    elif ch in right_quotes:
        if my_stack == []:
            not_match = True
            break
        else:
            left_ch = my_stack.pop()
            if left_quotes.index(left_ch) != right_quotes.index(ch):
                not_match = True
                break
                
if not_match or my_stack != []:
    print('Not match.')
else:
    print('Match.')

Please input an expression: (){{]
Not match.

In [47]:
a = list(range(1,5))
print(a.reverse())

None

In [48]:
a

[4, 3, 2, 1]

In [49]:
b ='hello'

In [50]:
b.upper()

'HELLO'

In [51]:
b

'hello'

In [53]:
import random
a = list()
for x in range(0,100):
    a.append(random.randint(0,100))
print(a)

[44, 88, 56, 17, 60, 3, 44, 93, 85, 94, 87, 92, 66, 14, 19, 35, 43, 70, 84, 45, 79, 17, 24, 51, 15, 34, 15, 24, 52, 18, 38, 88, 83, 90, 11, 54, 2, 95, 93, 16, 86, 49, 7, 20, 87, 96, 82, 43, 7, 84, 29, 11, 52, 98, 65, 37, 55, 28, 21, 44, 26, 8, 43, 5, 94, 77, 18, 22, 34, 2, 92, 1, 49, 56, 4, 46, 26, 18, 17, 27, 86, 86, 41, 2, 34, 25, 2, 43, 88, 22, 41, 17, 9, 59, 25, 13, 9, 9, 68, 9]

In [54]:
a.sort()
a

[1,
 2,
 2,
 2,
 2,
 3,
 4,
 5,
 7,
 7,
 8,
 9,
 9,
 9,
 9,
 11,
 11,
 13,
 14,
 15,
 15,
 16,
 17,
 17,
 17,
 17,
 18,
 18,
 18,
 19,
 20,
 21,
 22,
 22,
 24,
 24,
 25,
 25,
 26,
 26,
 27,
 28,
 29,
 34,
 34,
 34,
 35,
 37,
 38,
 41,
 41,
 43,
 43,
 43,
 43,
 44,
 44,
 44,
 45,
 46,
 49,
 49,
 51,
 52,
 52,
 54,
 55,
 56,
 56,
 59,
 60,
 65,
 66,
 68,
 70,
 77,
 79,
 82,
 83,
 84,
 84,
 85,
 86,
 86,
 86,
 87,
 87,
 88,
 88,
 88,
 90,
 92,
 92,
 93,
 93,
 94,
 94,
 95,
 96,
 98]

In [55]:
b =a.sort()

In [56]:
b

In [57]:
print(b)

None

In [65]:
import random
a = list()
for x in range(0,100):
    a.append(random.randint(0,100))
print(a)

[45, 25, 59, 6, 53, 52, 22, 67, 62, 13, 95, 22, 27, 16, 62, 57, 74, 18, 88, 9, 77, 80, 93, 86, 84, 10, 87, 69, 77, 35, 72, 51, 81, 4, 69, 94, 97, 95, 53, 27, 79, 14, 84, 7, 0, 42, 69, 51, 40, 26, 70, 18, 100, 80, 26, 66, 91, 61, 6, 12, 35, 35, 51, 9, 29, 2, 35, 16, 59, 94, 53, 81, 56, 11, 9, 49, 38, 98, 1, 90, 39, 0, 53, 31, 87, 97, 20, 43, 10, 66, 71, 47, 72, 4, 21, 23, 26, 77, 16, 100]

In [66]:
b =sorted(a)

In [67]:
print(b)

[0, 0, 1, 2, 4, 4, 6, 6, 7, 9, 9, 9, 10, 10, 11, 12, 13, 14, 16, 16, 16, 18, 18, 20, 21, 22, 22, 23, 25, 26, 26, 26, 27, 27, 29, 31, 35, 35, 35, 35, 38, 39, 40, 42, 43, 45, 47, 49, 51, 51, 51, 52, 53, 53, 53, 53, 56, 57, 59, 59, 61, 62, 62, 66, 66, 67, 69, 69, 69, 70, 71, 72, 72, 74, 77, 77, 77, 79, 80, 80, 81, 81, 84, 84, 86, 87, 87, 88, 90, 91, 93, 94, 94, 95, 95, 97, 97, 98, 100, 100]

In [68]:
print(a)

[45, 25, 59, 6, 53, 52, 22, 67, 62, 13, 95, 22, 27, 16, 62, 57, 74, 18, 88, 9, 77, 80, 93, 86, 84, 10, 87, 69, 77, 35, 72, 51, 81, 4, 69, 94, 97, 95, 53, 27, 79, 14, 84, 7, 0, 42, 69, 51, 40, 26, 70, 18, 100, 80, 26, 66, 91, 61, 6, 12, 35, 35, 51, 9, 29, 2, 35, 16, 59, 94, 53, 81, 56, 11, 9, 49, 38, 98, 1, 90, 39, 0, 53, 31, 87, 97, 20, 43, 10, 66, 71, 47, 72, 4, 21, 23, 26, 77, 16, 100]

In [69]:
print(max(a),min(a),sum(a),len(a))

100 0 4909 100

In [70]:
sum(range(1,101))

5050

In [71]:
%%timeit

import random
a =list()
for  x in range(0,100):
    a.append(random.randint(0,100))

91.4 µs ± 17.5 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [72]:
%%timeit

a = [None] * 100
for i in range(0,100):
    a[i] = random.randint(0,100)

87.3 µs ± 14.8 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [73]:
%%timeit

import random

a =list()
for  x in range(0,100):
    a.append(i)

7.99 µs ± 1.74 µs per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [1]:
%%timeit

a = [None] * 100
for i in range(0,100):
    a[i] = i

4.57 µs ± 887 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [3]:
month = int(input('please input your month:'))
day = int(input('please input your day:'))

day_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]

count = sum(day_in_month[:month - 1]) + day
print(f'This is the {count}th day of the year.')

please input your month:12
please input your day:31
This is the 365th day of the year.

In [4]:
score = int(input('Please input the score: '))
grads = 60 * 'D' + 15 * 'C' + 15 * 'B' + 11 * 'A'
if (score < 0 or score > 100):
    print('Invalid score.')
else:
    print(grads[score])

Please input the score: 60
C